In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#read the csv file saved from web scraping
df = pd.read_csv('Amazon books data.csv')

In [3]:
df.head()

,Unnamed: 0,CATEGORY,TITLE,AUTHOR,DATE,STAR,RATING
0,0,Arts & Photography,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,"Jan 1, 2015",4.8 out of 5 stars,27397
1,1,Arts & Photography,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
2,2,Arts & Photography,Born a Crime: Stories from a South African Chi...,Trevor Noah,"Feb 12, 2019",4.8 out of 5 stars,20444
3,3,Arts & Photography,Born a Crime: Stories from a South African Chi...,Trevor Noah,"Nov 15, 2016",4.8 out of 5 stars,20444
4,4,Arts & Photography,Proof of Heaven: A Neurosurgeon's Journey into...,Eben Alexander,"Oct 23, 2012",4.3 out of 5 stars,13695

In [4]:
df = df.drop('Unnamed: 0', axis = 1)

In [5]:
#change the column names to reflect the information about the data the hold
column_names = {'CATEGORY':'category', 'TITLE':'title', 'AUTHOR':'author','DATE':'publication_date', 'STAR':'rating','RATING':'number_of_ratings' }
df= df.rename(columns=column_names)

In [6]:
df.head()

,category,title,author,publication_date,rating,number_of_ratings
0,Arts & Photography,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,"Jan 1, 2015",4.8 out of 5 stars,27397
1,Arts & Photography,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
2,Arts & Photography,Born a Crime: Stories from a South African Chi...,Trevor Noah,"Feb 12, 2019",4.8 out of 5 stars,20444
3,Arts & Photography,Born a Crime: Stories from a South African Chi...,Trevor Noah,"Nov 15, 2016",4.8 out of 5 stars,20444
4,Arts & Photography,Proof of Heaven: A Neurosurgeon's Journey into...,Eben Alexander,"Oct 23, 2012",4.3 out of 5 stars,13695

**We will go trough the columns one after the other to correct all anomalies.**

## Catgory

In [7]:
#Get th number of unique categories and all list out all these unique categories
df['category'].nunique(), list(df['category'].unique())

(32,
 ['Arts & Photography',
  'Biographies & Memoirs',
  'Business & Money',
  'Avg. Customer Review',
  "Children's Books",
  'Christian Books & Bibles',
  'Comics & Graphic Novels',
  'Computers & Technology',
  'Cookbooks, Food & Wine',
  'Crafts, Hobbies & Home',
  'Education & Teaching',
  'Engineering & Transportation',
  'Health, Fitness & Dieting',
  'History',
  'Humor & Entertainment',
  'Law',
  'Lesbian, Gay, Bisexual & Transgender Books',
  'Literature & Fiction',
  'Medical Books',
  'Mystery, Thriller & Suspense',
  'Parenting & Relationships',
  'Politics & Social Sciences',
  'Reference',
  'Religion & Spirituality',
  'Romance',
  'Science & Math',
  'Science Fiction & Fantasy',
  'Self-Help',
  'Sports & Outdoors',
  'Teen & Young Adult',
  'Test Preparation',
  'Travel'])

From inspection, one category name is not properly scraped.

In [8]:
df['category'] = df['category'].replace('Avg. Customer Review','Calendars')

In [9]:
#let us get these categoris again to confirm if the change has been effected
df['category'].nunique(), list(df['category'].unique())

(32,
 ['Arts & Photography',
  'Biographies & Memoirs',
  'Business & Money',
  'Calendars',
  "Children's Books",
  'Christian Books & Bibles',
  'Comics & Graphic Novels',
  'Computers & Technology',
  'Cookbooks, Food & Wine',
  'Crafts, Hobbies & Home',
  'Education & Teaching',
  'Engineering & Transportation',
  'Health, Fitness & Dieting',
  'History',
  'Humor & Entertainment',
  'Law',
  'Lesbian, Gay, Bisexual & Transgender Books',
  'Literature & Fiction',
  'Medical Books',
  'Mystery, Thriller & Suspense',
  'Parenting & Relationships',
  'Politics & Social Sciences',
  'Reference',
  'Religion & Spirituality',
  'Romance',
  'Science & Math',
  'Science Fiction & Fantasy',
  'Self-Help',
  'Sports & Outdoors',
  'Teen & Young Adult',
  'Test Preparation',
  'Travel'])

## Title

Some author names were not correctly appended during the scraping process.

In [10]:
df[(df['author']=='by ') |( df['author']=='-')|(df['author']=='---')]

,category,title,author,publication_date,rating,number_of_ratings
1,Arts & Photography,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
11,Arts & Photography,Strange Planet,by,"Nov 19, 2019",4.9 out of 5 stars,9879
36,Business & Money,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
103,Comics & Graphic Novels,Strange Planet,by,"Nov 19, 2019",4.9 out of 5 stars,9879
110,Comics & Graphic Novels,The Legend of Zelda: Hyrule Historia,by,"Jan 29, 2013",4.9 out of 5 stars,5533
121,Computers & Technology,The Legend of Zelda: Hyrule Historia,by,"Jan 29, 2013",4.9 out of 5 stars,5533
141,"Cookbooks, Food & Wine","The Plant Paradox: The Hidden Dangers in ""Heal...",by,"Jul 11, 2017",4.4 out of 5 stars,7451
145,"Crafts, Hobbies & Home",The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
185,Engineering & Transportation,"Guns, Germs, and Steel: The Fates of Human Soc...",by,"Mar 7, 2017",4.5 out of 5 stars,4498
248,Law,The Guilty,by,"Jan 1, 1996",4.5 out of 5 stars,6178
344,Politics & Social Sciences,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
373,Religion & Spirituality,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
388,Romance,Grey: Fifty Shades of Grey as Told by Christian,by,"Jan 1, 2015",4.4 out of 5 stars,26058
437,Self-Help,The Life-Changing Magic of Tidying Up: The Jap...,by,"Oct 14, 2014",4.5 out of 5 stars,23167
527,Arts & Photography,The Legend of Zelda: Hyrule Historia,by,"Jan 29, 2013",4.9 out of 5 stars,5535
572,Calendars,Wer weiß denn sowas? Tagesabreißkalender 2020,---,"Apr 16, 2019",4.7 out of 5 stars,942
580,Children's Books,"Brown Bear, Brown Bear, What Do You See?",by,"Sep 15, 1996",4.9 out of 5 stars,15598
770,"Lesbian, Gay, Bisexual & Transgender Books",Aristotle and Dante Discover the Secrets of th...,by,"Apr 1, 2014",4.7 out of 5 stars,2643
771,"Lesbian, Gay, Bisexual & Transgender Books",Aristotle and Dante Discover the Secrets of th...,by,"Feb 21, 2012",4.7 out of 5 stars,2643
872,Reference,"Brown Bear, Brown Bear, What Do You See? My Fi...",by,"Jul 20, 2010",4.9 out of 5 stars,15598
1004,Test Preparation,Saunders Comprehensive Review for the NCLEX-RN...,by,"Oct 7, 2019",4.8 out of 5 stars,3044
1060,Business & Money,Official Highway Code,---,-,4.7 out of 5 stars,6069
1124,Comics & Graphic Novels,Uzumaki (3-in-1 Deluxe Edition) (Junji Ito),by,"Oct 15, 2013",4.9 out of 5 stars,3844
1168,"Crafts, Hobbies & Home",Little Women (Chiltern Classic),by,"Oct 1, 2019",4.5 out of 5 stars,6486
1229,"Health, Fitness & Dieting","Girl, Stop Apologizing",by,"Mar 21, 2019",4.6 out of 5 stars,8117
1319,Medical Books,Emotional Intelligence 2.0 (Audiobook CD),by,"Jan 1, 2010",4.4 out of 5 stars,4602
1435,Science & Math,"Guns, Germs, and Steel: The Fates of Human Soc...",by,"Mar 7, 2017",4.5 out of 5 stars,4498
1448,Science Fiction & Fantasy,Strange Planet,by,"Nov 19, 2019",4.9 out of 5 stars,9881

In [11]:
#manually correct author names with anomalies
df.iloc[1,2] = df.iloc[1,2].replace("by ", "Marie Kondo")
df.iloc[11,2] = df.iloc[11,2].replace("by ", "Nathan W. Pyle")
df.iloc[36,2] = df.iloc[36,2].replace("by ", "Marie Kondo")
df.iloc[103,2] = df.iloc[103,2].replace("by ", "Nathan W. Pyle")
df.iloc[110,2] = df.iloc[110,2].replace("by ", "Patrick Thorpe, Michael Gombos, et al")
df.iloc[121,2] = df.iloc[121,2].replace("by ", "Patrick Thorpe, Michael Gombos, et al")
df.iloc[141,2] = df.iloc[141,2].replace("by ", "Dr. Steven R Gundry MD")
df.iloc[145,2] = df.iloc[145,2].replace("by ", "Marie Kondo")
df.iloc[175,2] = df.iloc[175,2].replace("_", " Yuval Noah Harari and Janaína Marcoantonio")
df.iloc[185,2] = df.iloc[185,2].replace("by ", "Jared Diamond, Doug Ordunio, et al.")
df.iloc[248,2] = df.iloc[248,2].replace("by ", "David Baldacci")
df.iloc[344,2] = df.iloc[344,2].replace("by ", "Marie Kondo")
df.iloc[373,2] = df.iloc[373,2].replace("by ", "Marie Kondo")
df.iloc[388,2] = df.iloc[388,2].replace("by ", "E L James, Zachary Webber, et al.")
df.iloc[437,2] = df.iloc[437,2].replace("by ", "Marie Kondo")
df.iloc[489,2] = df.iloc[489,2].replace("_", "Yuval Noah Harari and Janaína Marcoantonio")
df.iloc[527,2] = df.iloc[527,2].replace("by ", "Patrick Thorpe, Michael Gombos, et al.")
df.iloc[572,2] = df.iloc[572,2].replace("---", "NO AUTHOR")
df.iloc[580,2] = df.iloc[580,2].replace("by ", " Bill Martin Jr. and Eric Carle")
df.iloc[770,2] = df.iloc[770,2].replace("by ", "John Green ")
df.iloc[771,2] = df.iloc[771,2].replace("by ", "John Green")
df.iloc[872,2] = df.iloc[871,2].replace("by ", "Bill Martin Jr. and Eric Carle")
df.iloc[1004,2] = df.iloc[1003,2].replace("by ", "Linda Anne Silvestri PhD RN FAAN and Angela Elizabeth Silvestri PhD APRN FNP-BC CNE")
df.iloc[1060,2] = df.iloc[1059,2].replace("---", "The Driver and Vehicle Standards Agency The Driver and Vehicle Standards Agency")
df.iloc[1124,2] = df.iloc[1123,2].replace("by ", "Junji Ito")
df.iloc[1168,2] = df.iloc[1167,2].replace("by ", "Louisa May Alcott ")
df.iloc[1229,2] = df.iloc[1228,2].replace("by ", "Rachel Hollis and HarperCollins Leadership")
df.iloc[1319,2] = df.iloc[1318,2].replace("by ", "Travis Bradberry, Jean Greaves, et al.")
df.iloc[1435,2] = df.iloc[1434,2].replace("by ", "Jared Diamond, Doug Ordunio, et al.")
df.iloc[1448,2] = df.iloc[1447,2].replace("by ", " Nathan W. Pyle")

In [12]:
#check to see if all has been corrected
df[(df['author']=='by ') |( df['author']=='-')|(df['author']=='---')]

Empty DataFrame
Columns: [category, title, author, publication_date, rating, number_of_ratings]
Index: []

## Publication Date

In [13]:
from datetime import datetime

In [14]:
#check for indexes with anomalies
df[df['publication_date']=='-']

,category,title,author,publication_date,rating,number_of_ratings
211,History,To Kill a Mockingbird,Harper Lee,-,4.8 out of 5 stars,27800
339,Politics & Social Sciences,To Kill a Mockingbird,Harper Lee,-,4.8 out of 5 stars,27800
839,Parenting & Relationships,Knock Knock What I Love about You Fill in the ...,Knock Knock,-,4.7 out of 5 stars,6016
1060,Business & Money,Official Highway Code,Sheryl Sandberg,-,4.7 out of 5 stars,6069
1172,"Crafts, Hobbies & Home",Knock Knock What I Love about You Fill in the ...,Knock Knock,-,4.7 out of 5 stars,6014

In [15]:
#Replaces them with hte necessary values
df.iloc[211,3] = df.iloc[211,3].replace("-", "Jul 5, 2005")
df.iloc[339,3] = df.iloc[339,3].replace("-", "Jul 5, 2005")
df.iloc[839,3] = df.iloc[838,3].replace("-", "Jun 15, 2015")
df.iloc[1060,3] = df.iloc[1059,3].replace("-", "Jun 1, 2015")
df.iloc[1172,3] = df.iloc[1171,3].replace("-", "Jun 15, 2015")

In [16]:
#convert to standard datetime format
df['publication_date'] = pd.to_datetime(df['publication_date'], format='%b %d, %Y', errors='coerce')

## Rating

In [17]:
#We are intersted in the number part of the column. split the column and appennd the first element
df['rating'] = df['rating'].apply(lambda x: x.split(' ')[0])

In [18]:
#replace all occurence of '-' in rating with null values and convert the column to float data type
df['rating'] = df['rating'].replace('-', np.nan).astype(float)

In [19]:
df.head()

,category,title,author,publication_date,rating,number_of_ratings
0,Arts & Photography,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,2015-01-01,4.8,27397
1,Arts & Photography,The Life-Changing Magic of Tidying Up: The Jap...,Marie Kondo,2014-10-14,4.5,23167
2,Arts & Photography,Born a Crime: Stories from a South African Chi...,Trevor Noah,2019-02-12,4.8,20444
3,Arts & Photography,Born a Crime: Stories from a South African Chi...,Trevor Noah,2016-11-15,4.8,20444
4,Arts & Photography,Proof of Heaven: A Neurosurgeon's Journey into...,Eben Alexander,2012-10-23,4.3,13695

## Dealing with Missing Values

In [20]:
#check for columns with missing values
df.isnull().sum()

category              0
title                 0
author                0
publication_date      0
rating               74
number_of_ratings     0
dtype: int64

In [21]:
#Fill rating column with the mean value.
df['rating'] = df['rating'].fillna(df['rating'].mean())

## Dealing with duplicates

In [22]:
df = df.drop_duplicates().reset_index(drop = True)

In [23]:
df = df.drop([2], axis='index').reset_index(drop = True)

In [24]:
df.shape

(1534, 6)

In [25]:
df.isnull().sum()

category             0
title                0
author               0
publication_date     0
rating               0
number_of_ratings    0
dtype: int64

## Data Types

In [26]:
df.dtypes

category                     object
title                        object
author                       object
publication_date     datetime64[ns]
rating                      float64
number_of_ratings             int64
dtype: object

In [27]:
df.to_csv('cleaned amazon data.csv', index = False)